/******** hero *********/

@media (max-width: 728px) {
  .hero {
    /* color: red; */
    padding: 15% 3%;
  }
  .hello {
    padding-top: 5rem;
  }
  .info {
    padding-top: 7rem;
  }
}

/* *** about me *** */
@media (max-width: 728px) {
  .about-row {
    padding: 5%;
  }
  .col-md-7 {
    padding-top: 1rem;
  }
}

/**** projects ****/
@media (max-width: 728px) {
  .pro-title {
    font-size: 2rem;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }
}

/****************/
@media (max-width: 728px) {
  #skill {
    padding: 1rem;
  }
  .skill-info {
    padding: 8px;
  }
  .skill-bar {
    padding: 8px;
  }
  .skill-bar p {
    margin-bottom: 6px;
  }
}

/*** Contact section ***/
@media (max-width: 728px) {
  .contact-div {
    /* color: red; */
    padding: 5% 7%;
  }
}

/******* footer *******/
@media (max-width: 728px) {
}

/******* about me *******/
@media (max-width: 728px) {
  .about-rt-div {
    /* color: red; */
    border: 0px;
    padding-left: 0px;
  }
  .about-rt-div p {
    border-left: 2px solid black;
    padding-left: 12px;
  }
  .about-rt-div h1 {
    padding-left: 12px;
  }
}
