/********* Projects ***********/

.carousel-item {
  padding: 3% 15% 4%;
  text-align: center;
}
.pro-title {
  background-color: #f1f1f1;
  margin: 0px;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 4px;
}
.img-pro {
  width: 100px;
  height: 100px;
  /* margin-right: 2rem; */
  margin: auto;
  cursor: pointer;
}
.p-name {
  font-size: 24px;
  cursor: pointer;
}
.p-detail {
  padding-top: 3%;
}

/***** Hover line animation *****/

.hover-underline-animation {
  width: 15%;
  margin: auto;
  position: relative;
  cursor: pointer;
  padding-bottom: 2px;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #343a40;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
