/************* Skill ***************/

#skill {
  padding: 4rem;
  background-color: #f1f1f1;
}
.skill-bar div {
  color: #eee;
  font-size: 1rem;
}
.skill-bar p {
  letter-spacing: 2px;
  line-height: 1.8;
  margin-top: 1rem;
}
.skill-info h3 {
  margin: 10px auto;
}

/******* skill bar animation ********/
.web {
  animation: web 1s linear forwards;
}
@keyframes web {
  100% {
    width: 90%;
  }
}
.python {
  animation: python 1s linear forwards;
}
@keyframes python {
  100% {
    width: 80%;
  }
}
.c {
  animation: c 1s linear forwards;
}
@keyframes c {
  100% {
    width: 95%;
  }
}

/********** Contact *********/

.contact-label {
  margin-top: 0.8rem;
  text-align: center;
}
.contact-div {
  padding: 6% 15%;
}
.contact-div h3 {
  text-align: center;
  padding-bottom: 1rem;
}
.contact-div button {
  margin-top: 3%;
}

/************* footer ***************/
footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #f1f1f1;
}
footer i {
  margin: 10px;
  /* text-decoration: none; */
}

footer p {
  padding-top: 1rem;
}
footer p span {
  border-bottom: 1px solid black;
  cursor: pointer;
}

/******** footer animation ********/

.l-1:hover {
  color: #fd5949;
}
.l-2:hover {
  color: rgb(19, 129, 255);
}
.l-3:hover {
  color: rgb(19, 129, 255);
}
.l-4:hover {
  color: rgb(226, 219, 0);
}
.l-5:hover {
  color: rgb(19, 129, 255);
}
.credit:hover {
  color: rgb(202, 8, 202);
}
