body {
  font-family: "Raleway", sans-serif;
}

/********* hero *********/

.hero {
  background-image: url("images/hero.jpg");
  background-repeat: no-repeat;
  color: #fff;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 7% 15%;
}
.info {
  text-align: center;
  padding: 7%;
}

/****** About Me *********/

.about-row {
  margin: 0px;
  padding: 7% 15%;
}
.about-rt-div {
  border-left: 4px solid #343a40;
}
.img-div {
  text-align: center;
}
.about-img {
  width: 300px;
  border-radius: 100%;
}
